.profile-pic{
    position: relative;
    left: 50px;
    height: 400px;
    border-radius: 150px;
}

.bg1{
    background-color: rgb(43, 47, 48);
}
.font1{
    position: relative;
    left: 100px;  
    color: white;
}

.bt1{
    position: relative;
    top: 10px;
    
}

.next1{
    position: relative;
    left: 50px;
}